snippet pres "Markdown presentation template" b
---
title:
- Presentation Title
header-includes:
  - \AtBeginDocument{\title[Short title for footline]{Long title for title page}}
author:
-  A/Prof. Colin Caprani
institute: 
- Monash University
theme:
- Copenhagen
---
endsnippet
